* {
    padding: 0%;
    margin: 0;
}
body{
    max-width: 600px;
    width: 100%;
    margin: auto;
}
.title{
    font-size: 25px;
}
span{
    margin-right: 10px;
}
nav{
    border-bottom: 1px solid rgb(66, 66, 66);
    border-top: 1px solid rgb(66, 66, 66);
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav span:first-child{
    border-bottom: 2px solid black;
}
main{
    padding: 10px;
}
a{
    border-bottom: 5px;
}
.imgfloat{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}
p{
    margin-bottom: 10px;
}
